h1,
p {
  font-family: Lato;
}

.box {
  view-transition-name: box;

  width: 400px;
  aspect-ratio: 1;
  border: 10px solid;
  display: grid;
  place-content: center;
  font-size: 2rem;
  position: absolute;
}

[class*='box-top'] {
  top: 0;
}

[class*='box-bottom'] {
  bottom: 0;
}

[class*='-left'] {
  left: 0;
}

[class*='-right'] {
  right: 0;
}

button {
  z-index: 10;
  position: relative;
}
